/* main  */
.main {
  margin: 30px;
  box-shadow: 0px 0px 7px #000;
  border-radius: 20px;
  height: 100%;

 
}

/* Main containers */
.body-main-container {
  color: #fff;
  margin: 0;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;
}
.imageLogo{
  /* border: solid 3px #fff;
  border-radius:50%; */
  flex-grow: 1;
  object-fit: cover;
  max-height: 75px;
  max-width: 75px;
  align-self: center;
  margin: 0px;
}
.homeContent{
  flex-grow: 4;
  border:3px solid #fff;
  padding:20px;
}
.textAlignLeft{
  text-align:left;
}


